@model Nexus.Domain.Entities.RegionStructure

<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">
            @Model.Structure.Name
            @if (Model.Level > 0 && Model.Structure.Mine != null)
            {
                <span class="badge bg-success rounded-pill">Level @Model.Level</span>
            }
            else if (Model.Level > 0)
            {
                <span class="badge bg-success rounded-pill">Built</span>
            }
        </h5>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Structure.Description</p>
        <p class="text-muted">
            Costs to <span>@(Model.Level == 0 ? "Build" : "Upgrade")</span>:
            <ul class="list-unstyled">
                <li>Minerals: @Model.RequiredUpgradeMinerals</li>
                <li>Microchips: @Model.RequiredUpgradeChips</li>
                <li>Hydrogen: @Model.RequiredUpgradeHydrogen</li>
                <li>Credits: @Model.RequiredUpgradeCredits</li>
                <li>Energy: @Model.RequiredUpgradeEnergy</li>
            </ul>
        </p>
    </div>
    <div class="card-footer text-end">
        @if (Model.UpgradedAt.HasValue)
        {
            <span class="badge bg-warning text-dark">
                Upgrading until: @Model.UpgradedAt.Value.ToLocalTime().ToString("g")
            </span>
        }
        else if (Model.Structure.Mine != null)
        {
            <form asp-action="BuildOrUpgradeStructure" method="post">
                <input type="hidden" name="regionId" value="@Model.RegionId" />
                <input type="hidden" name="structureId" value="@Model.StructureId" />
                <button type="submit" class="btn btn-secondary btn-sm">Upgrade</button>
            </form>
        }
        else if (Model.Level == 0)
        {
            <form asp-action="BuildOrUpgradeStructure" method="post">
                <input type="hidden" name="regionId" value="@Model.RegionId" />
                <input type="hidden" name="structureId" value="@Model.StructureId" />
                <button type="submit" class="btn btn-primary btn-sm">Build</button>
            </form>
        }
    </div>
</div>
