@using System.Globalization;
@model RegionStructureDialog;

<div class="structure-info" data-item-id="@Model.RegionStructure.Structure.Id">
    <h2>@Model.RegionStructure.Structure.Name</h2>
    <small>@Model.RegionStructure.Level</small>
    <p>@Model.RegionStructure.Structure.Description</p>
</div>
<div class="structure-details">
    @if (Model.RegionStructure.Structure.MineId.HasValue)
    {
        <div class="resource-gain">
            <h3 class="cyber-h">Ganancia de recursos</h3>
            <ul>
                <li>Ganancia por minuto: <span>@((Model.ResourceGainPerMinute).ToString("N2"))</span></li>
                <li>Ganancia por hora: <span>@((Model.ResourceGainPerHour).ToString("N2"))</span></li>
                <li>Ganancia por día: <span>@((Model.ResourceGainPerDay).ToString("N2"))</span></li>
                <li>Ganancia por semana: <span>@((Model.ResourceGainPerWeek).ToString("N2"))</span></li>
            </ul>
        </div>
        
    }
    <div class="upgrade-data">
        <h3 class="cyber-h">Coste de mejora</h3>
        <ul>
            @if (Model.RegionStructure.Structure.BaseChips > 0)
            {
                <li><i class="resource litle resource-1"></i><span>@Model.RegionStructure.RequiredUpgradeMinerals.ToString("N0", new CultureInfo("es-ES"))</span></li>
            }
            @if (Model.RegionStructure.Structure.BaseChips > 0)
            {
                <li><i class="resource litle resource-2"></i> <span>@Model.RegionStructure.RequiredUpgradeChips.ToString("N0", new CultureInfo("es-ES"))</span></li>
            }
            @if (Model.RegionStructure.Structure.BaseHydrogen > 0)
            {
                <li><i class="resource litle resource-3"></i> <span>@Model.RegionStructure.RequiredUpgradeHydrogen.ToString("N0", new CultureInfo("es-ES"))</span></li>
            }
            @if (Model.RegionStructure.Structure.BaseCredits > 0)
            {
                <li><i class="resource litle resource-7"></i> <span>@Model.RegionStructure.RequiredUpgradeCredits.ToString("N0", new CultureInfo("es-ES"))</span></li>
            }
            @if (Model.RegionStructure.Structure.BaseEnergy > 0)
            {
                <li><i class="resource litle resource-5"></i> <span>@Model.RegionStructure.RequiredUpgradeEnergy.ToString("N0", new CultureInfo("es-ES"))</span></li>
            }
        </ul>
        <p>La actualización tardará: @Model.UpgradeTimeText</p>

    </div>
    <div class="mine-actions">
        <h3 class="cyber-h">Acciones</h3>
        <div class="actions">
            <form asp-action="BuildOrUpgradeStructure" method="post">
                <input type="hidden" name="regionId" value="@Model.Region.Id" />
                <input type="hidden" name="structureId" value="@Model.RegionStructure.StructureId" />
                <button type="submit">Upgrade</button>
            </form>
        </div>
        <div class="countdown"></div>
    </div>
</div>
