@using Nexus.Domain.Entities
@using System.Globalization
@model Nexus.Web.Models.RegionViewModel

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-4">
            @TempData["ErrorMessage"]
        </div>
    }

    <div id="region" class="detail" data-item-id="@Model.Region.Id">
        <div class="nx-header">
            <ul class="nx-menu nx-menu-landscape">
                <li class="city-resources active info-box">
                    <div>
                        <ul>
                            @foreach (RegionResource resource in Model.Region.RegionResources)
                            {
                                <li><i class="resource resource-@resource.ResourceId"></i> @resource.Quantity.ToString("N0", new CultureInfo("es-ES"))</li>
                            }
                        </ul>
                    </div>
                </li>
                <li class="data-panel cyber-razor-bottom">
                    <div class="detail">
                        <h1 class="cyber-h">New Horizon</h1>
                        <ul>
                            <li><strong>Población</strong> 131.650</li>
                            <li><strong>Felicidad</strong> 08/10</li>
                            <li><strong>Soldados</strong> 25.000</li>
                            <li><strong>Naves militares</strong> 56</li>
                            <li><strong>Naves civiles</strong> 13</li>
                        </ul>
                        <div class="deck" title="Gobernador de la región"></div>
                    </div>
                </li>
            </ul>
            <ul class="nx-submenu">
                <li><a href="/armies/new" class="new">Renombrar ciudad</a></li>
                <li><a href="/armies/new" class="new">Transporte de recursos</a></li>
                <li><a href="/armies/new" class="new">Estadísticas</a></li>
                <li><a href="/solarsystem/detail/@Model.Region.Planet.SolarSystemId" class="new">Sistema solar</a></li>
            </ul>
        </div>
        <div class="nx-detail">
            <section class="structure-grid">
                @foreach (RegionStructure regionStructure in Model.Region.RegionStructures)
                {
                    <p class="structure @regionStructure.Structure.Name prime cybercard-small @(regionStructure.UpgradedAt.HasValue? "working" : string.Empty)")> <!-- data-item-id="@* @regionStructure.Structure.Id *@" @* @(regionStructure.UpgradedAt.HasValue ? "data-item-nextlevelat=" + structure.NextLevelAtUnix + *@ " data-item-nextlevelfrom=" + structure.NextLevelFromUnix : string.Empty)> -->
                        <span>@regionStructure.Structure.Name</span>
                        <small>@regionStructure.Level</small>
                        <span class="buildprogress"></span>
                    </p>
                }
            </section>
        </div>

        <style>
        main.content > div.detail div.nx-header li.data-panel div.deck { background-image: url(/images/@Model.Region.GovernorCard.ImageUrl); }
    </style>
