@using Nexus.Domain.Entities
@model Nexus.Web.Models.RegionViewModel

<div class="container">
    <h2 class="mt-4">Region Details</h2>

    <!-- Panel de recursos -->
    <div class="card bg-light mb-4">
        <div class="card-body">
            <h5 class="card-title">Current Resources</h5>
            <div class="row">
                @foreach (var resource in Model.Region.RegionResources)
                {
                    <div class="col-md-2 text-center">
                        <strong>@resource.Resource.Name:</strong> @resource.Quantity
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h4 class="card-title">Planet: @Model.Region.Planet.Id</h4>
            <p class="card-text"><strong>Colonized:</strong> @Model.Region.IsColonized</p>
        </div>
    </div>

    <h3>Structures</h3>
    <div class="row">
        @foreach (var structure in Model.Structures)
        {
            var regionStructure = Model.RegionStructures.FirstOrDefault(rs => rs.StructureId == structure.Id) ?? new RegionStructure { Structure = structure, RegionId = Model.Region.Id };
            <div class="col-md-4 mb-4">
                @await Html.PartialAsync("_RegionStructureCard", regionStructure)
            </div>
        }
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-4">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["ToastMessage"] != null)
    {
        <div class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @TempData["ToastMessage"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var toastElement = document.querySelector('.toast');
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
            });
        </script>
    }
</div>
